<div class="w-75">

  <h1>顧客一覧</h1>
  
  <div class="w-75">
    <%= form_with url: dashboard_users_path, method: :get, local: true do |f| %>
      <div class="d-flex flex-inline form-group">
        <div class="d-flex align-items-center">
          ID・氏名など
        </div>
        <%= f.text_area :keyword, value: @keyword, class: "form-controll ml-2 w-50" %>
      </div>
      <%= f.submit "検索", class: "btn shopruby-submit-button" %>
    <% end %>
  </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">名前</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">電話番号</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td>
          <%= form_with model: user, url: dashboard_user_path(user), local: true, method: :delete do |f| %>
            <% if user.deleted_flg %>
              <%= f.submit "復帰", class: "btn dashboard-delete-link" %>
            <% else %>
              <%= f.submit "削除", class: "btn dashboard-delete-link" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users%>
</div>