<div class="w-75">

  <%= form_with(model: @major_category, url: dashboard_major_categories_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "親カテゴリ名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "親カテゴリの説明" %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "＋新規作成", class: "btn shopruby-submit-button" %>
    </div>
  <% end %>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">カテゴリ</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if @major_categories.present? %>
        <% @major_categories.each do |major_category| %>
        <tr>
          <th scope="row"><%= major_category.id %></td>
          <td><%= major_category.name %></td>
          <td>
            <%= link_to "編集", edit_dashboard_major_category_path(major_category), class: "dashboard-edit-link" %>
          </td>
          <td>
            <%= link_to "削除", dashboard_major_category_path(major_category), method: :delete, class: "dashboard-delete-link" %>
          </td>          
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @major_categories %>
</div>
