<div class="row">
  <div class="col-9">
    <div class="container mt-4">
      <div class="row w-100">

        <% @products.each do |product|%>
        <div class="col-3">
          <%= link_to product_path(product) do %>
            <%= image_tag "/images/dummy.png", class: "img-thumbnail"%>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="shopruby-product-label mt-2">
                <%= product.name %><br>
                <label>¥<%= product.price %></label>
              </p>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <%= paginate @products %>
  </div>
</div>