<div class="row">
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, major_category_names: @major_category_names } %>
  </div>
    <div class="col-9">
      <h1>おすすめ商品</h1>
      <div class="row">
        <div class="col-4">
          <%= link_to "#", class: "img-thumbnail" do %>
            <%= image_tag "/images/orange.png", class: "img-thumbnail"%>
          <% end %>
          <div class="row">
             <div class="col-12">
              <p class="shopruby-product-label mt-2">
                旬のオレンジ詰め合わせ<br>
                <label>￥2000</label>
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <%= link_to "#", class: "img-thumbnail" do %>
            <%= image_tag "/images/pan.png", class: "img-thumbnail"%>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="shopruby-product-label mt-2">
                フライパン20cm 鉄製 業務用<br>
                <label>￥5000</label>
              </p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <%= link_to "#", class: "img-thumbnail" do %>
            <%= image_tag "/images/meat.png", class: "img-thumbnail"%>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="shopruby-product-label mt-2">
                和牛ロース200g 2枚入り<br>
                <label>￥8200</label>
              </p>
            </div>
          </div>
        </div>

      </div>

      <h1>新着商品</h1>
      <div class="row">
       <% @recently_products.each do |recently_product| %>
        <div class="col-3">
          <%= link_to product_path(recently_product) do %>
            <%= image_tag "/images/dummy.png", class: "img-thumbnail" %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="samuraimart-product-level mt-2">
                <%= recently_product.name %>
                <label>￥<%= recently_product.price %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>