<div class="row">
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, major_category_names: @major_category_names } %>
  </div>
    <div class="col-9">
      <h1>おすすめ商品</h1>
      <div class="row">
        <% @recommend_products.each do |recommend_product| %>
          <div class="col-4">
            <%= link_to product_path(recommend_product) do %>
              <%= image_tag "/images/dummy.png", class: "img-thumbnail" %>
            <% end %>
            <div class="row">
              <div class="col-12">
                <p class="shopruby-product-level mt-2">
                  <%= recommend_product.name %>
                  <label>￥<%= recommend_product.price %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h1>新着商品</h1>
      <div class="row">
       <% @recently_products.each do |recently_product| %>
        <div class="col-3">
          <%= link_to product_path(recently_product) do %>
            <%= image_tag "/images/dummy.png", class: "img-thumbnail" %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="shopruby-product-level mt-2">
                <%= recently_product.name %>
                <label>￥<%= recently_product.price %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>